[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-script = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"

[scripts]
start= "python app.py "
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"

[dev-packages]

[requires]
python_version = "3.9"
